* {
  text-decoration: none;
  list-style-type: none;
  font-family: 'cairo', sans-serif; }

html :lang(fr) [data-fr] {
  display: block; }

html :lang(fr) [data-ar] {
  display: none; }

html :lang(ar) [data-ar] {
  display: block;
  direction: rtl; }

html :lang(ar) [data-fr] {
  display: none; }

body {
  margin: 0;
  padding: 0; }

.header {
  width: 100%; }
  .header .header__menu {
    background: url(../png/menu.png) no-repeat;
    display: flex;
    justify-content: space-between; }
    .header .header__menu img {
      width: 50px;
      margin-top: 5px;
      margin-left: 15px;
      height: 60px; }
      @media (max-width: 700px) {
        .header .header__menu img {
          height: 55px; } }
      @media (max-width: 375px) {
        .header .header__menu img {
          height: 50px; } }
    .header .header__menu ul {
      display: flex;
      margin-right: 30px; }
      @media (max-width: 700px) {
        .header .header__menu ul {
          margin-right: 15px; } }
      .header .header__menu ul li {
        padding: 5px; }
        .header .header__menu ul li a.active {
          color: #1078AD; }
        .header .header__menu ul li a {
          padding: 8px;
          font-size: 22px;
          color: black; }
          @media (max-width: 700px) {
            .header .header__menu ul li a {
              font-size: 14px; } }
          .header .header__menu ul li a:focus {
            color: #1078AD; }
        .header .header__menu ul li button {
          padding: 8px;
          font-size: 22px;
          color: black;
          background-color: rgba(255, 255, 255, 0); }
          @media (max-width: 700px) {
            .header .header__menu ul li button {
              font-size: 14px; } }
          .header .header__menu ul li button:focus {
            color: #1078AD; }
        .header .header__menu ul li .arabic {
          padding: 0px 15px;
          border: 1.5px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px; }
          .header .header__menu ul li .arabic i {
            color: #F4CF1B;
            font-size: 20px; }
          @media (max-width: 375px) {
            .header .header__menu ul li .arabic {
              font-size: 10px; } }
  .header .header__info {
    margin-top: -30px;
    text-align: center;
    background: #F4CF1B; }
    .header .header__info h3 {
      padding-top: 20px; }
      @media (max-width: 375px) {
        .header .header__info h3 {
          font-size: 14px; } }
    .header .header__info p {
      color: #1078AD;
      line-height: 30px; }
      @media (max-width: 375px) {
        .header .header__info p {
          font-size: 10px; } }
  .header .header__text {
    width: 100%;
    display: flex; }
    @media (max-width: 700px) {
      .header .header__text {
        flex-direction: column;
        text-align: center; } }
    .header .header__text img {
      width: 50%;
      margin-top: 50px; }
      @media (max-width: 700px) {
        .header .header__text img {
          width: 80%;
          margin: auto; } }
    .header .header__text .header__test {
      width: 50%;
      text-align: center;
      padding: 20px 0; }
      @media (max-width: 700px) {
        .header .header__text .header__test {
          width: 80%;
          margin: auto; } }
      @media (max-width: 375px) {
        .header .header__text .header__test h1 {
          font-size: 14px; } }
      .header .header__text .header__test img {
        width: 10%; }
      .header .header__text .header__test p {
        font-size: 30px;
        width: 80%;
        margin: 0 auto;
        line-height: 45px;
        color: #7F7F7F;
        padding-bottom: 20px; }
        @media (max-width: 375px) {
          .header .header__text .header__test p {
            font-size: 10px; } }
      .header .header__text .header__test a {
        width: 80%;
        color: white;
        font-size: 30px;
        margin: auto;
        border: 0.5px solid black;
        background: #1078AD;
        padding: 6px 10px; }
        @media (max-width: 700px) {
          .header .header__text .header__test a {
            width: 50%;
            margin: auto;
            padding: 6px 50px; } }
        @media (max-width: 375px) {
          .header .header__text .header__test a {
            font-size: 14px; } }

.data-fr {
  display: block; }

.data-ar {
  display: none; }

.switsh:checked ~ .data-fr {
  display: none; }

.switsh:checked ~ .data-ar {
  display: block; }

.test {
  width: 100%;
  text-align: center;
  display: block; }
  .test__info {
    width: 85%;
    margin: auto;
    text-align: center;
    background: #96C5DC; }
    .test__info h3 {
      padding-top: 10px;
      color: #1078AD; }
    .test__info--modif1 {
      width: 90%;
      margin: auto;
      padding-bottom: 20px; }
    .test__info--modif2 {
      width: 90%;
      margin: auto;
      padding: 20px 0; }
    .test__info hr {
      width: 25%;
      margin: auto;
      border-color: yellow; }
  .test__button button {
    width: 30%;
    margin: 30px auto;
    color: white;
    font-size: 32px;
    border: 0.5px solid black;
    border-radius: 5px;
    background: #1078AD;
    padding: 6px 10px;
    cursor: pointer; }
    @media (max-width: 700px) {
      .test__button button {
        width: 50%;
        margin: auto;
        padding: 6px 50px; } }
    @media (max-width: 375px) {
      .test__button button {
        font-size: 14px; } }

.question {
  width: 100%;
  display: none; }
  .question .change {
    text-align: left;
    color: #787878;
    width: 70%;
    margin: auto; }
  .question .createElement .radio_G {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 30px 0;
    display: block; }
    .question .createElement .radio_G .option {
      position: relative; }
      .question .createElement .radio_G .option input {
        display: none; }
      .question .createElement .radio_G .option label {
        font-size: 20px;
        cursor: pointer;
        color: #1078AD;
        margin-left: 20px;
        padding: 10px 0; }
    .question .createElement .radio_G .option label::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      border: 4px solid #1078ad;
      border-radius: 50%;
      left: -22px;
      top: 2px; }
    .question .createElement .radio_G .option label::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      background-color: gold;
      border-radius: 50%;
      left: -14px;
      top: 10.5px;
      opacity: 1;
      display: none; }
    .question .createElement .radio_G .option input:checked ~ label::before {
      display: block; }
  .question .createElement .radio_2 {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 30px 0;
    display: block; }
    .question .createElement .radio_2 .option2 {
      position: relative;
      display: flex; }
      .question .createElement .radio_2 .option2 input {
        border: 2px solid #1078AD;
        width: 40%;
        height: 40px; }
      .question .createElement .radio_2 .option2 label {
        font-size: 24px;
        color: #1078AD;
        margin-left: 20px;
        padding: 5px 10px; }
  .question .createElement .radio_3 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .question .createElement .radio_3 .radio_D {
      width: 100%;
      margin: auto;
      text-align: left;
      padding: 30px 0; }
      .question .createElement .radio_3 .radio_D .option3 {
        position: relative; }
        .question .createElement .radio_3 .radio_D .option3 input {
          display: none; }
        .question .createElement .radio_3 .radio_D .option3 label {
          font-size: 20px;
          cursor: pointer;
          color: #1078AD;
          margin-left: 20px;
          padding: 10px 0; }
      .question .createElement .radio_3 .radio_D .option3 label::after {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        border: 4px solid #1078ad;
        border-radius: 50%;
        left: -22px;
        top: 2px; }
      .question .createElement .radio_3 .radio_D .option3 label::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background-color: gold;
        border-radius: 50%;
        left: -14px;
        top: 10.5px;
        opacity: 0; }
      .question .createElement .radio_3 .radio_D .option3 input:checked ~ label::before {
        opacity: 1; }
  .question .createElement .radio_4 {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 30px 0;
    display: flex;
    justify-content: space-between; }
    .question .createElement .radio_4 .option4 {
      position: relative; }
      .question .createElement .radio_4 .option4 input {
        display: none; }
      .question .createElement .radio_4 .option4 label {
        font-size: 20px;
        cursor: pointer;
        color: #1078AD;
        margin-left: 20px;
        padding: 10px 0; }
    .question .createElement .radio_4 .option4 label::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      border: 4px solid #1078ad;
      border-radius: 50%;
      left: -22px;
      top: 2px; }
    .question .createElement .radio_4 .option4 label::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      background-color: gold;
      border-radius: 50%;
      left: -14px;
      top: 10.5px;
      opacity: 1;
      display: none; }
    .question .createElement .radio_4 .option4 input:checked ~ label::before {
      display: block; }
  .question__info {
    width: 85%;
    margin: auto;
    text-align: left;
    background: #F4CF1B; }
    .question__info h5 {
      font-size: 20px;
      width: 80%;
      margin: auto;
      padding-top: 40px; }
    .question__info p {
      font-size: 20px;
      width: 80%;
      margin: auto;
      padding-bottom: 40px; }
  .question__buttton {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .question__buttton .question__button {
      width: 50%;
      margin: auto;
      text-align: center; }
      .question__buttton .question__button button {
        width: 80%;
        margin: 30px;
        cursor: pointer;
        margin-right: auto;
        color: white;
        font-size: 32px;
        border: 0.5px solid black;
        border-radius: 5px;
        background: #1078AD;
        padding: 6px 10px; }
        @media (max-width: 700px) {
          .question__buttton .question__button button {
            width: 50%;
            margin: auto;
            padding: 6px 50px; } }
        @media (max-width: 375px) {
          .question__buttton .question__button button {
            font-size: 14px; } }
    .question__buttton .question__button2 {
      width: 50%;
      margin: auto;
      text-align: center; }
      .question__buttton .question__button2 button {
        width: 80%;
        margin: 30px;
        display: none;
        cursor: pointer;
        margin-right: auto;
        color: white;
        font-size: 32px;
        border: 0.5px solid black;
        border-radius: 5px;
        background: #1078AD;
        padding: 6px 10px; }
        @media (max-width: 700px) {
          .question__buttton .question__button2 button {
            width: 50%;
            margin: auto;
            padding: 6px 50px; } }
        @media (max-width: 375px) {
          .question__buttton .question__button2 button {
            font-size: 14px; } }

.symptons {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%; }
  .symptons h1 {
    color: #1078AD;
    font-size: 32px; }
    @media (max-width: 375px) {
      .symptons h1 {
        font-size: 14px; } }
  .symptons__info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 700px) {
      .symptons__info {
        width: 80%; } }
    .symptons__info .symptons__icon {
      margin-top: 10%;
      width: 100%;
      line-height: 30px;
      font-size: 14px; }
      .symptons__info .symptons__icon .symptons__img {
        padding: 20px 0; }
        @media (max-width: 375px) {
          .symptons__info .symptons__icon .symptons__img--wor img {
            height: 80PX; } }
        @media (max-width: 375px) {
          .symptons__info .symptons__icon .symptons__img img {
            height: 100PX; } }
        .symptons__info .symptons__icon .symptons__img h4 {
          padding-top: 25px;
          width: 60%;
          margin: 0 auto;
          font-size: 23px; }
          @media (max-width: 700px) {
            .symptons__info .symptons__icon .symptons__img h4 {
              font-size: 18px; } }
          @media (max-width: 375px) {
            .symptons__info .symptons__icon .symptons__img h4 {
              font-size: 12px; } }
        .symptons__info .symptons__icon .symptons__img .font {
          font-size: 16px; }
          @media (max-width: 375px) {
            .symptons__info .symptons__icon .symptons__img .font {
              font-size: 12px; } }
  .symptons__house {
    width: 40%;
    margin: auto; }
    @media (max-width: 700px) {
      .symptons__house {
        width: 70%;
        margin-top: 20px; } }
    @media (max-width: 375px) {
      .symptons__house img {
        height: 80PX; } }
    @media (max-width: 375px) {
      .symptons__house h4 {
        font-size: 12px; } }

.symp {
  width: 100%; }
  @media (max-width: 700px) {
    .symp {
      flex-wrap: wrap;
      width: 90%; } }
  @media (max-width: 375px) {
    .symp {
      width: 100%; } }
  @media (max-width: 700px) {
    .symp__icone {
      display: flex;
      justify-content: space-between;
      margin: auto; } }
  @media (max-width: 375px) {
    .symp__icone .symptons__img {
      width: 50%; } }
  @media (max-width: 375px) {
    .symp__icone .symptons__img img {
      height: 70PX; } }

.recommand {
  text-align: center;
  width: 100%;
  background: #1078AD; }
  .recommand h1 {
    padding-top: 30px;
    font-size: 31px;
    color: #D0E5F0; }
    @media (max-width: 375px) {
      .recommand h1 {
        font-size: 16px; } }
  .recommand .recommand__info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    @media (max-width: 700px) {
      .recommand .recommand__info {
        flex-direction: column;
        padding-bottom: 10px; } }
    .recommand .recommand__info .recommand__malade {
      width: 60%;
      text-align: left; }
      @media (max-width: 700px) {
        .recommand .recommand__info .recommand__malade {
          width: 90%;
          margin: auto; } }
      .recommand .recommand__info .recommand__malade h5 {
        text-align: left;
        color: black;
        font-size: 30px; }
        @media (max-width: 700px) {
          .recommand .recommand__info .recommand__malade h5 {
            width: 100%;
            text-align: center;
            margin: auto;
            color: white; } }
        @media (max-width: 375px) {
          .recommand .recommand__info .recommand__malade h5 {
            font-size: 14px; } }
      .recommand .recommand__info .recommand__malade p {
        font-size: 26px;
        color: white;
        text-align: left; }
        @media (max-width: 700px) {
          .recommand .recommand__info .recommand__malade p {
            width: 100%;
            font-size: 20px;
            text-align: center;
            margin: auto; } }
        @media (max-width: 375px) {
          .recommand .recommand__info .recommand__malade p {
            font-size: 10px; } }
    .recommand .recommand__info .recommand__appel {
      width: 40%;
      margin: auto; }
      @media (max-width: 700px) {
        .recommand .recommand__info .recommand__appel {
          width: 100%;
          text-align: center; } }
      .recommand .recommand__info .recommand__appel h5 {
        color: #F4CF1B;
        font-size: 30px; }
        @media (max-width: 375px) {
          .recommand .recommand__info .recommand__appel h5 {
            font-size: 16px; } }
      .recommand .recommand__info .recommand__appel p {
        width: 60%;
        font-size: 30px;
        border: 1px solid #F4CF1B;
        margin: 0 auto;
        padding: 10px 0px;
        border-radius: 5px;
        background: #F4CF1B;
        color: #1078AD; }
        @media (max-width: 700px) {
          .recommand .recommand__info .recommand__appel p {
            padding: 10px 0 0 0; } }
        @media (max-width: 375px) {
          .recommand .recommand__info .recommand__appel p {
            font-size: 14px; } }
      .recommand .recommand__info .recommand__appel a {
        color: white;
        font-size: 25px;
        padding: 25px 0 0 0;
        border-bottom: 1px solid #F4CF1B; }
        @media (max-width: 700px) {
          .recommand .recommand__info .recommand__appel a {
            padding: 5px 0 0px 0; } }
        @media (max-width: 375px) {
          .recommand .recommand__info .recommand__appel a {
            font-size: 14px; } }
  .recommand .recommand__test {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #96C5DC; }
    .recommand .recommand__test h1 {
      color: #1078AD; }
      @media (max-width: 375px) {
        .recommand .recommand__test h1 {
          font-size: 16px; } }
    .recommand .recommand__test img {
      padding-bottom: 30px; }
    .recommand .recommand__test a {
      width: 30%;
      margin: auto;
      color: white;
      font-size: 32px;
      border: 0.5px solid black;
      background: #1078AD;
      padding: 6px 10px; }
      @media (max-width: 700px) {
        .recommand .recommand__test a {
          width: 50%;
          margin: auto;
          padding: 6px 50px; } }
      @media (max-width: 375px) {
        .recommand .recommand__test a {
          font-size: 14px; } }
  .recommand__information {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #96C5DC;
    padding: 20px 0; }
    @media (max-width: 700px) {
      .recommand__information {
        flex-direction: column;
        margin: auto;
        line-height: 40px; } }
    .recommand__information--info {
      width: 20%; }
      @media (max-width: 700px) {
        .recommand__information--info {
          text-align: center;
          width: 80%;
          margin: auto; } }
      .recommand__information--info h1 {
        color: #1078AD; }
      .recommand__information--info p {
        color: #1A519E; }
    .recommand__information a {
      width: 20%;
      margin-top: 7%;
      color: white;
      font-size: 20px;
      border: 0.5px solid black;
      border-radius: 5px;
      background: #1078AD;
      height: 40px;
      padding: 1px 10px 3PX 10px; }
      @media (max-width: 700px) {
        .recommand__information a {
          width: 50%;
          margin: 10px auto;
          justify-content: space-between; } }
      @media (max-width: 375px) {
        .recommand__information a {
          font-size: 14px; } }

.footer {
  text-align: center;
  padding-top: 10px;
  width: 100%; }
  .footer__info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    @media (max-width: 700px) {
      .footer__info {
        flex-wrap: wrap; } }
    .footer__info .footer__menu {
      width: 20%; }
      @media (max-width: 700px) {
        .footer__info .footer__menu {
          width: 40%; } }
      @media (max-width: 700px) {
        .footer__info .footer__menu ul {
          width: 100%;
          margin: auto;
          padding: 0px; } }
      .footer__info .footer__menu ul li {
        padding: 15px; }
        @media (max-width: 700px) {
          .footer__info .footer__menu ul li {
            padding-left: -10px; } }
        .footer__info .footer__menu ul li a.active {
          color: #1078AD; }
        .footer__info .footer__menu ul li a {
          padding: 8px;
          font-size: 22px;
          color: black; }
          @media (max-width: 700px) {
            .footer__info .footer__menu ul li a {
              font-size: 18px; } }
          @media (max-width: 375px) {
            .footer__info .footer__menu ul li a {
              font-size: 14px; } }
        .footer__info .footer__menu ul li .arabic {
          padding: 0px 15px;
          border: 1.5px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px; }
          .footer__info .footer__menu ul li .arabic i {
            color: #F4CF1B;
            font-size: 20px; }
    .footer__info .footer__contact {
      width: 25%; }
      @media (max-width: 700px) {
        .footer__info .footer__contact {
          width: 40%; } }
      .footer__info .footer__contact h3 {
        color: #1078AD; }
        @media (max-width: 375px) {
          .footer__info .footer__contact h3 {
            font-size: 14px; } }
      @media (max-width: 375px) {
        .footer__info .footer__contact p {
          font-size: 10px; } }
      .footer__info .footer__contact--num {
        color: #369D53;
        font-size: 24px; }
        @media (max-width: 700px) {
          .footer__info .footer__contact--num {
            font-size: 14px; } }
    .footer__info .footer__text {
      width: 45%;
      text-align: left;
      padding-top: 7%; }
      @media (max-width: 700px) {
        .footer__info .footer__text {
          width: 80%;
          margin: auto; } }
      .footer__info .footer__text p {
        color: #7F7F7F; }
        @media (max-width: 375px) {
          .footer__info .footer__text p {
            font-size: 14px; } }
  .footer__copy {
    width: 100%;
    height: 20px;
    background: #1078AD; }
