* {
  text-decoration: none;
  list-style-type: none;
  font-family: 'cairo', sans-serif; }

body {
  margin: 0;
  padding: 0; }

.header {
  width: 100%; }
  .header .header__menu {
    background: url(../png/menu.png) no-repeat;
    display: flex;
    justify-content: space-between; }
    .header .header__menu img {
      width: 50px;
      margin-top: 5px;
      margin-left: 15px;
      height: 60px; }
    .header .header__menu ul {
      display: flex;
      margin-right: 30px; }
      .header .header__menu ul li {
        padding: 5px; }
        .header .header__menu ul li a.active {
          color: #1078AD; }
        .header .header__menu ul li a {
          padding: 8px;
          font-size: 22px;
          color: black; }
          .header .header__menu ul li a:focus {
            color: #1078AD; }
        .header .header__menu ul li .arabic {
          padding: 0px 15px;
          border: 1.5px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px; }
          .header .header__menu ul li .arabic i {
            color: #F4CF1B;
            font-size: 20px; }
  .header .header__info {
    margin-top: -30px;
    text-align: center;
    background: #F4CF1B; }
    .header .header__info h3 {
      padding-top: 20px; }
    .header .header__info p {
      color: #1078AD;
      line-height: 30px; }
  .header .header__text {
    width: 100%;
    display: flex; }
    .header .header__text img {
      width: 50%; }
    .header .header__text .header__test {
      width: 50%;
      text-align: center;
      padding: 20px 0; }
      .header .header__text .header__test img {
        width: 10%; }
      .header .header__text .header__test p {
        font-size: 30px;
        width: 80%;
        margin: 0 auto;
        line-height: 45px;
        color: #7F7F7F;
        padding-bottom: 20px; }
      .header .header__text .header__test a {
        width: 100%;
        color: white;
        font-size: 30px;
        border: 0.5px solid black;
        background: #1078AD;
        padding: 6px 150px; }

.symptons {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%; }
  .symptons h1 {
    color: #1078AD;
    font-size: 32px; }
  .symptons__info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .symptons__info .symptons__icon {
      margin-top: 10%;
      width: 100%;
      line-height: 30px;
      font-size: 14px; }
      .symptons__info .symptons__icon .symptons__img h4 {
        padding-top: 25px;
        width: 60%;
        margin: 0 auto;
        font-size: 23px; }
      .symptons__info .symptons__icon .symptons__img .font {
        font-size: 16px; }
      .symptons__info .symptons__icon .symptons__img .house {
        width: 100%; }

.symp {
  width: 80%; }

.recommand {
  text-align: center;
  width: 100%;
  background: #1078AD; }
  .recommand h1 {
    padding-top: 30px;
    font-size: 31px;
    color: #D0E5F0; }
  .recommand .recommand__info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .recommand .recommand__info .recommand__malade {
      width: 60%;
      text-align: left; }
      .recommand .recommand__info .recommand__malade h5 {
        text-align: left;
        color: black;
        font-size: 30px; }
      .recommand .recommand__info .recommand__malade p {
        font-size: 26px;
        color: white;
        text-align: left; }
    .recommand .recommand__info .recommand__appel {
      width: 40%;
      margin: auto; }
      .recommand .recommand__info .recommand__appel h5 {
        color: #F4CF1B;
        font-size: 30px; }
      .recommand .recommand__info .recommand__appel p {
        width: 60%;
        font-size: 30px;
        border: 1px solid #F4CF1B;
        margin: 0 auto;
        padding: 10px 0px;
        border-radius: 5px;
        background: #F4CF1B;
        color: #1078AD; }
      .recommand .recommand__info .recommand__appel a {
        color: white;
        font-size: 25px;
        padding: 25px 0 0 0;
        border-bottom: 1px solid #F4CF1B; }
  .recommand .recommand__test {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #96C5DC; }
    .recommand .recommand__test h1 {
      color: #1078AD; }
    .recommand .recommand__test img {
      padding-bottom: 30px; }
    .recommand .recommand__test a {
      width: 100%;
      color: white;
      font-size: 32px;
      border: 0.5px solid black;
      background: #1078AD;
      padding: 6px 150px; }
  .recommand__information {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #96C5DC;
    padding: 20px 0; }
    .recommand__information--info {
      width: 20%; }
      .recommand__information--info h1 {
        color: #1078AD; }
      .recommand__information--info p {
        color: #1A519E; }
    .recommand__information a {
      width: 20%;
      margin-top: 7%;
      color: white;
      font-size: 20px;
      border: 0.5px solid black;
      border-radius: 5px;
      background: #1078AD;
      height: 40px;
      padding: 1px 10px 3PX 10px; }

.footer {
  text-align: center;
  padding-top: 10px;
  width: 100%; }
  .footer__info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .footer__info .footer__menu {
      width: 20%; }
      .footer__info .footer__menu ul li {
        padding: 15px; }
        .footer__info .footer__menu ul li a.active {
          color: #1078AD; }
        .footer__info .footer__menu ul li a {
          padding: 8px;
          font-size: 22px;
          color: black; }
        .footer__info .footer__menu ul li .arabic {
          padding: 0px 15px;
          border: 1.5px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px; }
          .footer__info .footer__menu ul li .arabic i {
            color: #F4CF1B;
            font-size: 20px; }
    .footer__info .footer__contact {
      width: 25%; }
      .footer__info .footer__contact h3 {
        color: #1078AD; }
      .footer__info .footer__contact--num {
        color: #369D53;
        font-size: 24px; }
    .footer__info .footer__text {
      width: 45%;
      text-align: left;
      padding-top: 7%; }
      .footer__info .footer__text p {
        color: #7F7F7F; }
  .footer__copy {
    width: 100%;
    height: 20px;
    background: #1078AD; }
