*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'cairo', sans-serif ;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    .header__menu{
        background: url(../png/menu.png) no-repeat;
        @include flexBox;
        img{
            width: 50px;
            margin-top: 5px;
            margin-left: 15px;
            height: 60px;
        }
        ul{
            display: flex;
            margin-right: 30px;
            li{
                padding: 5px;
                a.active
                    {
                        color: $firstColor;
                    }
                a{
                    padding: 8px;
                    font-size: 22px;
                    color: $blackColor;
                    &:focus {
                        color: $firstColor;
                    }
                }
                .arabic{
                    padding: 0px 15px;
                    border: 1.5px solid rgba($color: $blackColor, $alpha: .4);
                    border-radius: 5px;
                    i{
                        color: $goldColor;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .header__info{
        margin-top: -30px;
        text-align: center;
        background: $goldColor;
        h3{
            padding-top: 20px;
        }
        p{
            color: $firstColor;
            line-height: 30px;
        }
    }
    .header__text{
        width: 100%;
        display: flex;
        img{
            width: 50%;
        }
        .header__test{
            width: 50%;
            text-align: center;
            padding: 20px 0;
            img{
                width: 10%;
            }
            p{
                font-size: $sizeFont;
                width: 80%;
                margin: 0 auto;
                line-height: 45px;
                color: #7F7F7F;
                padding-bottom: 20px;
            }
            a{
                width: 100%;
                color: $whiteColor;
                font-size: $sizeFont;
                border: .5px solid $blackColor;
                background: $firstColor;
                padding: 6px 150px;
            }
        }
    }
}