$firstColor:#1078AD;
$goldColor:#F4CF1B;
$whiteColor:white;
$blackColor:black;
$sizeFont: 30px;
@mixin flexBox {
    display: flex;
    justify-content: space-between;
}
@mixin button {
    padding: 0px 15px;
    border: 1.5px solid rgba($color: $blackColor, $alpha: .4);
    border-radius: 5px;
    i{
        color: $goldColor;
        font-size: 20px;
    }
}