.recommand{
    text-align: center;
    width: 100%;
    background: $firstColor;
    h1{
        padding-top: 30px;
        font-size: 31px;
        color: #D0E5F0;
        @media (max-width:375px) {
            font-size: 16px;
        }
    }
    .recommand__info{
        width: 95%;
        @include flexBox;
        margin: 0 auto;
        @media (max-width:700px) {
            flex-direction: column;
            padding-bottom: 10px;
        }
        .recommand__malade{
            width: 60%;
            text-align: left;
            @media (max-width:700px) {
                width: 90%;
                margin: auto;
            }
            
            h5{
                text-align: left;
                color: $blackColor;
                font-size: 30px;
                @media (max-width:700px) {
                    width: 100%;
                    text-align: center;
                    margin: auto;
                    color: $whiteColor;
                }
                @media (max-width:375px) {
                    font-size: 14px;
                }
            }
            p{
                font-size: 26px;
                color: $whiteColor;
                text-align: left;
                @media (max-width:700px) {
                    width: 100%;
                    font-size: 20px;
                    text-align: center;
                    margin: auto;
                }
                @media (max-width:375px) {
                    font-size: 10px;
                }
            }
        }
        .recommand__appel{
            width: 40%;
            margin: auto;
            @media (max-width:700px) {
                width: 100%;
                text-align: center;
            }
            h5{
                color: $goldColor;
                font-size: 30px;
                @media (max-width:375px) {
                    font-size: 16px;
                }
            }
            p{
                width: 60%;
                font-size: 30px;
                border: 1px solid $goldColor;
                margin: 0 auto;
                padding: 10px 0px;
                border-radius: 5px;
                background: $goldColor;
                color: $firstColor;
                @media (max-width:700px) {
                    padding: 10px 0 0 0;
                }
                @media (max-width:375px) {
                    font-size: 14px;
                }
            }
            a{
                color: $whiteColor;
                font-size: 25px;
                padding: 25px 0 0 0;
                border-bottom: 1px solid $goldColor;
                @media (max-width:700px) {
                    padding: 5px 0 0px 0;
                }
                @media (max-width:375px) {
                    font-size: 14px;
                }
            }
        }
    }
    .recommand__test{
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background: #96C5DC;
        h1{
            color: $firstColor;
            @media (max-width:375px) {
                font-size: 16px;
            }
        }
        img{
            padding-bottom: 30px;
        }
        a{
            width: 30%;
            margin: auto;
            color: $whiteColor;
            font-size: 32px;
            border: .5px solid $blackColor;
            background: $firstColor;
            padding: 6px 10px;
            @media (max-width:700px) {
                width: 50%;
                margin: auto;
                padding: 6px 50px;
            }
            @media (max-width:375px) {
                font-size: 14px;
            }
        }
    }
    &__information{
        @include flexBox;
        text-align: center;
        background: #96C5DC;
        padding: 20px 0;
        @media (max-width:700px) {
            flex-direction: column;
            margin: auto;
            line-height: 40px;
        }
        &--info{
            width: 20%;
            @media (max-width:700px) {
                text-align: center;
                width: 80%;
                margin: auto;
            }
            h1{
                color: $firstColor;
            }
            p{
                color: #1A519E;
            }
        }
        a{
            width: 20%;
            margin-top: 7%;
            color: $whiteColor;
            font-size: 20px;
            border: .5px solid $blackColor;
            border-radius: 5px;
            background: $firstColor;
            height: 40px;
            padding: 1px 10px 3PX 10px;
            @media (max-width:700px) {
               width: 50%;
               margin:10px auto;
               justify-content: space-between;
            }
            @media (max-width:375px) {
                font-size: 14px;
               
            }
        }
    }
}
 