.test{
    width: 100%;
    text-align: center;
    display: block;
    &__info{
        width: 85%;
        margin: auto;
        text-align: center;
        background: #96C5DC;
        h3{
            padding-top: 10px;
            color: $firstColor;
        }
        &--modif1{
            width: 90%;
            margin: auto;
            padding-bottom: 20px;
        }
        &--modif2{
            width: 90%;
            margin: auto;
            padding: 20px 0;
        }
        hr{
            width: 25%;
            margin: auto;
            border-color: yellow;
        }
    }
    &__button{
        button{
            width: 30%;
            margin:30px auto;
            color: $whiteColor;
            font-size: 32px;
            border: .5px solid $blackColor;
            border-radius: 5px;
            background: $firstColor;
            padding: 6px 10px;
            cursor: pointer;
            @media (max-width:700px) {
                width: 50%;
                margin: auto;
                padding: 6px 50px;
            }
            @media (max-width:375px) {
                font-size: 14px;
            }
        }
    }
}
.question{
    width: 100%;
    display: none;
    .change{
        text-align: left;
        color: #787878;
        width: 70%;
        margin: auto;
    }
    .createElement{
        .radio_G {
            width: 50%;
            margin: auto;
            text-align: left;
            padding: 30px 0;
            display: block;
            .option {
                position: relative;
                
        
                input {
                    display: none;
                }
        
                label {
                    font-size: 20px;
                    cursor: pointer;
                    color: $firstColor;
                    margin-left: 20px;
                    padding: 10px 0;
                }
            }
        
            .option label::after {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                border: 4px solid #1078ad;
                border-radius: 50%;
                left: -22px;
                top: 2px;
            }
        
            .option label::before {
                position: absolute;
                content: "";
                width: 16px;
                height: 16px;
                background-color: gold;
                border-radius: 50%;
                left: -14px;
                top: 10.5px;
                opacity: 1;
                display: none;
        
            }
        
            .option input:checked~label::before {
                display: block;
        
            }
        }

            .radio_2 {
                width: 50%;
                margin: auto;
                text-align: left;
                padding: 30px 0;
                display: block;
                .option2 {
                    position: relative;
                    display: flex;
            
                    input {
                        border: 2px solid $firstColor;
                        width: 40%;
                        height: 40px;
        
                        
                    }
            
                    label {
                        font-size: 24px;
                        color: $firstColor;
                        margin-left: 20px;
                        padding: 5px 10px;
                    }
                }
            
                
            }

        .radio_3{
            width: 50%;
            margin: auto;
            display: flex;

            justify-content: space-between;
            .radio_D {
                width: 100%;
                margin: auto;
                text-align: left;
                padding: 30px 0;
                .option3 {
                    position: relative;
                    input {
                        display: none;
                    }
                    label {
                        font-size: 20px;
                        cursor: pointer;
                        color: $firstColor;
                        margin-left: 20px;
                        padding: 10px 0;
                    }
                }
                .option3 label::after {
                    position: absolute;
                    content: "";
                    width: 25px;
                    height: 25px;
                    border: 4px solid #1078ad;
                    border-radius: 50%;
                    left: -22px;
                    top: 2px;
                }
                .option3 label::before {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-color: gold;
                    border-radius: 50%;
                    left: -14px;
                    top: 10.5px;
                    opacity: 0;
                }
                .option3 input:checked~label::before{
                    opacity: 1;
                }
            }
        }
        .radio_4 {
            width: 50%;
            margin: auto;
            text-align: left;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
        
        
            .option4 {
                position: relative;
        
                input {
                    display: none;
                }
        
                label {
                    font-size: 20px;
                    cursor: pointer;
                    color: $firstColor;
                    margin-left: 20px;
                    padding: 10px 0;
                }
            }
            .option4 label::after {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                border: 4px solid #1078ad;
                border-radius: 50%;
                left: -22px;
                top: 2px;
            }
            .option4 label::before {
                position: absolute;
                content: "";
                width: 16px;
                height: 16px;
                background-color: gold;
                border-radius: 50%;
                left: -14px;
                top: 10.5px;
                opacity: 1;
                display: none;
            }
            .option4 input:checked~label::before {
                display: block;
            }
        }
    }

    &__info{
        width: 85%;
        margin: auto;
        text-align: left;
        background: $goldColor;
        h5{
            font-size: 20px;
            width: 80%;
            margin: auto;
            padding-top: 40px;
        }
        p{
            font-size: 20px;
            width: 80%;
            margin: auto;
            padding-bottom: 40px;
        }
    }
    &__buttton{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .question__button{
            width: 50%;
            margin: auto;
            text-align: center;
            button{
                width: 80%;
                margin:30px;
                cursor: pointer;
                margin-right: auto;
                color: $whiteColor;
                font-size: 32px;
                border: .5px solid $blackColor;
                border-radius: 5px;
                background: $firstColor;
                padding: 6px 10px;
                @media (max-width:700px) {
                    width: 50%;
                    margin: auto;
                    padding: 6px 50px;
                }
                @media (max-width:375px) {
                    font-size: 14px;
                }
            }
        }
        .question__button2{
            
            width: 50%;
            margin: auto;
            text-align: center;
            button{
                width: 80%;
                margin:30px;
                display: none;
                cursor: pointer;
                margin-right: auto;
                color: $whiteColor;
                font-size: 32px;
                border: .5px solid $blackColor;
                border-radius: 5px;
                background: $firstColor;
                padding: 6px 10px;
                @media (max-width:700px) {
                    width: 50%;
                    margin: auto;
                    padding: 6px 50px;
                }
                @media (max-width:375px) {
                    font-size: 14px;
                }
            }
        }
    }
    
}
// .question{
//     width: 100%;
//     display: block;
//     &__ques{
//         text-align: left;
//         color: #787878;
//         width: 70%;
//         margin: auto;
//     }
//     .radio_4 {
//         width: 50%;
//         margin: auto;
//         text-align: left;
//         padding: 30px 0;
//         display: flex;
//         justify-content: space-between;
    
//         .option4 {
//             position: relative;
    
//             input {
//                 display: none;
//             }
    
//             label {
//                 font-size: 20px;
//                 cursor: pointer;
//                 color: $firstColor;
//                 margin-left: 20px;
//                 padding: 10px 0;
//             }
//         }
//         .option4 label::after {
//             position: absolute;
//             content: "";
//             width: 25px;
//             height: 25px;
//             border: 4px solid #1078ad;
//             border-radius: 50%;
//             left: -22px;
//             top: 2px;
//         }
//         .option4 label::before {
//             position: absolute;
//             content: "";
//             width: 16px;
//             height: 16px;
//             background-color: gold;
//             border-radius: 50%;
//             left: -14px;
//             top: 10.5px;
//             opacity: 1;
//             display: none;
//         }
//         .option4 input:checked~label::before {
//             display: block;
//         }
//     }
//     &__button{
//         width: 80%;
//         margin: auto;
//         text-align: center;
//         display: flex;
//         justify-content: space-between;
//         button{
//             width: 30%;
//             margin:30px;
//             cursor: pointer;
//             margin-right: auto;
//             color: $whiteColor;
//             font-size: 32px;
//             border: .5px solid $blackColor;
//             border-radius: 5px;
//             background: $firstColor;
//             padding: 6px 10px;
//             @media (max-width:700px) {
//                 width: 50%;
//                 margin: auto;
//                 padding: 6px 50px;
//             }
//             @media (max-width:375px) {
//                 font-size: 14px;
//             }
//         }  
//     }
// }
// .question{
//     width: 100%;
//     display: block;
//     &__ques{
//         text-align: left;
//         color: #787878;
//         width: 70%;
//         margin: auto;
//     }
//     .radio_3{
//         width: 50%;
//         margin: auto;
//         display: flex;
//         justify-content: space-between;
//         .radio_D {
//             width: 100%;
//             margin: auto;
//             text-align: left;
//             padding: 30px 0;
//             .option3 {
//                 position: relative;
//                 input {
//                     display: none;
//                 }
//                 label {
//                     font-size: 20px;
//                     cursor: pointer;
//                     color: $firstColor;
//                     margin-left: 20px;
//                     padding: 10px 0;
//                 }
//             }
//             .option3 label::after {
//                 position: absolute;
//                 content: "";
//                 width: 25px;
//                 height: 25px;
//                 border: 4px solid #1078ad;
//                 border-radius: 50%;
//                 left: -22px;
//                 top: 2px;
//             }
//             .option3 label::before {
//                 position: absolute;
//                 content: "";
//                 width: 16px;
//                 height: 16px;
//                 background-color: gold;
//                 border-radius: 50%;
//                 left: -14px;
//                 top: 10.5px;
//                 opacity: 0;
//             }
//             .option3 input:checked~label::before{
//                 opacity: 1;
//             }
//         }
//     }
  
//     &__button{
//         width: 80%;
//         margin: auto;
//         text-align: center;
//         display: flex;
//         justify-content: space-between;
//         button{
//             width: 30%;
//             margin:30px;
//             cursor: pointer;
//             margin-right: auto;
//             color: $whiteColor;
//             font-size: 32px;
//             border: .5px solid $blackColor;
//             border-radius: 5px;
//             background: $firstColor;
//             padding: 6px 10px;
//             @media (max-width:700px) {
//                 width: 50%;
//                 margin: auto;
//                 padding: 6px 50px;
//             }
//             @media (max-width:375px) {
//                 font-size: 14px;
//             }
//         }
//     }
// }

// .question{
//     width: 100%;
//     display: block;
//     &__ques{
//         text-align: left;
//         color: #787878;
//         width: 70%;
//         margin: auto;
//     }
//     .radio_2 {
//         width: 50%;
//         margin: auto;
//         text-align: left;
//         padding: 30px 0;
    
//         .option2 {
//             position: relative;
//             display: flex;
    
//             input {
//                 border: 2px solid $firstColor;
//                 width: 40%;
//                 height: 40px;

                
//             }
    
//             label {
//                 font-size: 24px;
//                 color: $firstColor;
//                 margin-left: 20px;
//                 padding: 5px 10px;
//             }
//         }
    
        
//     }

   
//     &__button{
//         width: 80%;
//         margin: auto;
//         text-align: center;
//         display: flex;
//         justify-content: space-between;
//         button{
//             width: 30%;
//             margin:30px;
//             cursor: pointer;
//             margin-right: auto;
//             color: $whiteColor;
//             font-size: 32px;
//             border: .5px solid $blackColor;
//             border-radius: 5px;
//             background: $firstColor;
//             padding: 6px 10px;
//             @media (max-width:700px) {
//                 width: 50%;
//                 margin: auto;
//                 padding: 6px 50px;
//             }
//             @media (max-width:375px) {
//                 font-size: 14px;
//             }
//         }
        
        
//     }
    
    
// }
